* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red;    */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.left-sidebar {
    position: fixed;
    height: 100%;
    width: 10vw;
    border: 0px;    
    background-color: #282a36; 
}

.logo-brand {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
}

.logo-brand img {
    width: 7.5vw;
}

.logo-brand img:hover {
    width: 7.7vw;
}

hr {
    display: block;
    margin: auto;
    width: 90%;
    opacity: .5;
    border: 1px solid #4b8fef;
    border-radius: 50%;
}

.user-space {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    height: 15vh;
    bottom: 0;
    width: 10vw;
}

.user-stats {
    display: flex;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    background-color: #282a36;
    border: 3px solid #50fa7b;
    border-radius: 50%;
}

.user-picture {
    width: 90px;
    height: 90px;
    border-radius: 50%; 
}

.user-picture:hover {
    filter: grayscale(80) blur(.7px);
    opacity: .5;
}

.user-config:hover + .user-picture {
    filter: grayscale(80) blur(.7px);
    opacity: .5;
}

.user-config {
    position: absolute;
    z-index: 9999;
    fill: white;
    width: 20px;
    height: 20px;
    visibility: hidden;
}

.user-config:hover {
    cursor: pointer;
}

.user-name {
    text-transform: uppercase;
    color: white;
    font-size: 12px;
    font-weight: bolder;
    margin: 10px;
    background-color: #6272a4;
    width: 90%;
    padding: 5px;
    text-align: center; 
    border-radius: 1rem;
}

.modal-profile-options {
    
}

.status {
    display: flex;
    position: absolute;
    width: 15px;
    height: 15px;
    z-index: 999;
    border-radius: 50%;
}

.online {
    background-color: #50fa7b;
}

.mini-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    position: absolute;
    top: 0px;
    right: 0;
}

.notifications {
    background-color: red;
    color: white;
    font-size: 12px;
    font-weight:bolder;
    text-align: center;
}

.modal-config {
    background: rgba(1,1,1,.5);
    width: 10vw;
    left: 11vw;
    bottom: 1rem;
    height: 15vh;
    border-radius: .5rem;
    visibility: hidden;
    position: absolute;
}

nav ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style: none;
} 

nav ul li {
    align-items: center;
    font-size: 16px;
    color: white;
    margin-top: auto;
}
